.text-editor-header {
  background-color: rgb(158, 177, 177);
}

.content {
  height: 400px;
  outline: none;
  overflow: auto;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

img {
  height: 150px;
  width: 150px;
}